# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Env files
.env
.env.local
.env.production
.env.development

# Build outputs
dist/
build/
out/

# Hardhat
cache/
artifacts/

# OS
.DS_Store

# Logs
logs
*.log

# IDE
.vscode/
.idea/

# Coverage
coverage/
